<!-- <mat-toolbar color="primary">
  <button mat-icon-button (click)="onClickNavToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>EMQ</span>
  <span class="example-spacer"></span>
  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu">
      <img
        class="avatar rounded-circle bg-white me-2"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
        alt=""
      />
      <span>Pattarapol Houdhang</span>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>info</mat-icon>
    <span>infomation</span>
  </button>
  <button mat-menu-item routerLink="/" routerLinkActive="active">
    <mat-icon>logout_outline</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu> -->
<!-- Navbar -->

<mat-toolbar color="primary" *ngIf="login" >
  <div class="example-spacer">

  </div>

  <img class="rounded-circle elevation-2"   src="http://dcidmc.dci.daikin.co.jp/PICTURE/{{Usercode}}.JPG" width="40" height="40" alt="">
&nbsp;
  <label>{{Name}}</label>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="loginPage()" mat-menu-item>Logout</button>
 
  </mat-menu>



</mat-toolbar>
<!-- /.navbar -->
<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="clickRegister()">
  <mat-icon>info</mat-icon>
  <span>ข้อมูลโปรไฟล์</span>
</button>
  <button mat-menu-item (click)="onClickLogout()">
  <mat-icon>logout_outline</mat-icon>
  <span>ลงชื่อออก</span>
</button>
</mat-menu> -->
