@import "~@fontsource/material-icons/index.css";


.example-spacer {
    flex: 1 1 auto;
}

.avatar {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    border: 1px solid #fff;
}

label{
    font-size: 15px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  mat-sidenav-container {
    height: calc(205vh - 115vh);
}

mat-sidenav {
    width: 175px;
}