
<mat-toolbar color="primary" *ngIf="login">
  <mat-toolbar-row>
    <button mat-icon-button (click)="opened=!opened">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <span class="example-spacer">{{title}}</span>
    <div class="image-container d-flex align-items-center" >
      <label>{{Usercode}}</label> &nbsp;
      <img class="rounded-circle elevation-2"   src="http://dcidmc.dci.daikin.co.jp/PICTURE/{{Usercode}}.JPG" width="40" height="40" alt="">

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav [(opened)]="opened" #sideNav>
      <mat-list >
          <ng-container *ngFor="let item of listMenu">
              <mat-list-item><a (click)="selectedComponent(item.text)" routerLink="{{item.routeLink}}">{{item.text}}</a></mat-list-item>
          </ng-container>
          <mat-list-item><button (click)="loginPage()" mat-menu-item>Logout</button></mat-list-item>
      </mat-list>
  </mat-sidenav>
    <mat-sidenav-content class="bg-slate-50">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-menu #menu="matMenu">
  <button (click)="loginPage()" mat-menu-item>Logout</button>

</mat-menu> -->



<!-- <mat-toolbar color="primary" *ngIf="login" >
  <div class="example-spacer">

  </div>

  <img class="rounded-circle elevation-2"   src="http://dcidmc.dci.daikin.co.jp/PICTURE/{{Usercode}}.JPG" width="40" height="40" alt="">
&nbsp;
  <label>{{Name}}</label>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  




</mat-toolbar> -->
<!-- /.navbar -->
<!-- <mat-menu #menu="matMenu">
  <button mat-menu-item (click)="clickRegister()">
  <mat-icon>info</mat-icon>
  <span>ข้อมูลโปรไฟล์</span>
</button>
  <button mat-menu-item (click)="onClickLogout()">
  <mat-icon>logout_outline</mat-icon>
  <span>ลงชื่อออก</span>
</button>
</mat-menu> -->
