


<div class="main-div">

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
  
      <form [formGroup]="frmBarcode" #frmInpBarcode="ngForm" >
       
        <mat-form-field id="barcode-input-focus"  appearance="outline" [style.width.%]="130" 
          [ngClass]="{'barcode-input-blur': (isBlur == false) , 'barcode-input-focus': isBlur == true}">
          <mat-label>INPUT BARCODE</mat-label>
          <input #barcode formControlName="barcode" matInput type="text" autocomplete="off"
          *ngIf="isFocus"  type="text" autofocus
          (keyup.enter)="inputBarcode(barcode.value)"
          (focus)="onFocusMethod()" 
          (blur)="onBlurMethod()" />
          
        </mat-form-field>
        
    
      </form></mat-card-title>
 
  </mat-card-header >
    <form [formGroup]="frmQCsampling" #formDirective="ngForm" (submit)="onSubmit(frmQCsampling.value, formDirective)">
        <mat-card-content class="p-3">

          <div class="row">
          


            <div class="col-6">
            
              <mat-form-field appearance="outline" [style.width.%]='100' class="date-input-focus">
                <mat-label>Choose a date</mat-label>
                <input formControlName="_pddate"  
                [min]="minDate"
                [max]="maxDate"
                (dateInput)="addEvent('input', $event)"
                matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
            </div>
      
            <div class="col-6">              
              <mat-form-field id="shift_input" appearance="outline" [style.width.%]='100' class="date-input-focus" >
                <mat-label>Select shift</mat-label>
                <mat-select [(value)]="selected" (selectionChange)="changeClient($event.value)" formControlName="_shift" #shift >
                  <mat-option value="D">D</mat-option>
                  <mat-option value="N">N</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      
          </div>
            <div class="row">
               <div class="col-4 col-sm-6">
                <mat-form-field class="w-10" appearance="outline" [style.width.%]='90' [style.height.%]='100' >
                    <mat-label>WCNO</mat-label>
                    <input formControlName="wcno" matInput type="text" #wcnof
                    *ngIf="isFocus"  type="text" autofocus 
                    [readonly]="true"
                    />
                </mat-form-field>
              </div>

              <div class="col-5">
                <mat-form-field class="w-100"  [style.width.%]='90'appearance="outline" >
                  <mat-label>PARTNO</mat-label>
                  <input formControlName="partno" matInput type="text" [readonly]="true"  />
              </mat-form-field>
              </div>
              
            
       
              <div class="col-3 col-sm-3">          
                <mat-form-field [style.width.%]='100' [style.height.%]='100' appearance="outline" >
                <mat-label>CM</mat-label>
                <input formControlName="cm" matInput type="text" [readonly]="true" />
            </mat-form-field></div>
            </div>
          
            <div class="row">
              <div class="col-5">     <mat-form-field class="w-100"  appearance="outline">
                <mat-label>MODEL</mat-label>
                <input formControlName="model" matInput type="text" [readonly]="true" />
              </mat-form-field></div>
              <div class="col-6 col-sm-3">
                <mat-form-field class="test" appearance="outline" [style.width.%]='120' [style.height.%]='100'>
                    <mat-label>DESCRIPTION</mat-label>
                    <input formControlName="desc"  type="text" matInput [readonly]="true" >
                </mat-form-field>
            </div>
          
            </div>        
          <!-- <div  style="overflow-x: auto;">
            <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8 w-100 table-striped table-hover">
    
                <ng-container  matColumnDef="COURSE_CODE">
                    <th scope="col" mat-sort-header mat-header-cell *matHeaderCellDef class="text-uppercase text-center"> Sampling </th>
                    <td  mat-cell *matCellDef="let data" class="text-truncate text-center"> {{ data.COURSE_CODE }} </td>
                </ng-container>
    
                <ng-container matColumnDef="COURSE_NAME">
                    <th scope="row"  mat-sort-header mat-header-cell *matHeaderCellDef class="text-center"> Date </th>
                    <td mat-cell *matCellDef="let data" style="white-space: pre-wrap" class="text-truncate text-left"> {{ data.COURSE_NAME }} 
                       <br> {{ data.COURSE_NAME_EN }} </td>
                </ng-container>
          
                <ng-container matColumnDef="COURSE_PER_PERSON">
                    <th scope="col"  mat-sort-header mat-header-cell *matHeaderCellDef class="ชื่อหลักสูตร"> QTY </th>
                    <td mat-cell scope="row" *matCellDef="let data" class="text-center"> {{ data.COURSE_PER_PERSON | number }} </td>
                </ng-container>
  
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
    
            <mat-paginator [pageSizeOptions]="[10,20,40,80,100]" [showFirstLastButtons] ="true"></mat-paginator>
        </div> -->
 
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <div class="table-responsive w-100" *ngIf="dataSource.length > 0"  style="max-height: 500px; overflow: auto; ">
            <table class="table table-striped table-hover w-100">
              <thead class="table-primary">
                <tr>
                  <th style="font-size: 15px;">Sampling</th>
                  <th style="font-size: 15px;">DATE</th>
                  <th style="font-size: 15px;">QTY</th>
        
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of dataSource ;let i =index">
                      <td style="font-size: 15px;" scope="row">{{data.judgementResult}}</td>
                      <td style="font-size: 13px;" scope="row">{{data.pddate |  date:'dd/MM/yyyy HH:mm' }}</td>
                      <td style="font-size: 15px;" scope="row">{{data.judgementQty}}</td>
          
                  </tr>
              </tbody>
            </table>
          </div>
      
            <section class="example-section" >
              <!-- <h3>RESULT </h3> -->
              <div class="row">
                <div class="col-3">
                  <h2><mat-checkbox [checked]="ischeck" formControlName="ok" (change)="toggle('OK')" value="OK">OK</mat-checkbox></h2>
              </div>
              <div class="col-3">
                <h2><mat-checkbox [checked]="ischeck2" formControlName="ng" (change)="toggle('NG')" value="NG">NG</mat-checkbox></h2>
            </div>

              <div class="col-6">
                <div [hidden]="isHidden">
                  <mat-form-field appearance="outline" [style.width.%]='100' [style.height.%]='10' class="barcode-input-focus">
                    <mat-label>QTY</mat-label>
                    <input #hold_qty formControlName="hold_qty" type="number" matInput >
                  </mat-form-field>
                </div>
              </div>
            </div>
              
            </section>
        

    
          <div class="d-flex justify-content-end">
         
            <button mat-raised-button color="primary"  disabled={{!formDirective.valid}} value="submit" class="my-class">บันทึก</button>
            &nbsp;
            <button mat-raised-button color="warn"  disabled={{!formDirective.valid}} (click)="Clear()" class="my-class">ล้างข้อมูล</button> 

          </div>
      </div>
      
      </mat-card-content>
    </form>
  
  </mat-card>
</div>
