
.row.head{
  margin-left: 20px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%; 
  backdrop-filter: blur(2px);
}

.display{
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.mat-raised-button.logout {

  margin: -10px;
  padding: 0px;
}

h1 {
    font-family: "Lato", sans-serif;
    text-align: justify;
  }
  .example-card {
    width: 100%;
    /* margin-top: 10px; */
  }
    
  mat-card-subtitle {
    font-size: 18px;
   
  }

  .example-form-field {
    margin: 0 8px 16px 0;
  }
    
  mat-card-title {
    color: green;
    font-size: 55px;
    justify-content: center;
    display: flex;
  }

  .mat-card-actions, .mat-card-content, .mat-card-subtitle {
    display: block;
    margin-top: -30px;
}

  .example-section {
    margin: 10px 0;
    
  }

  .main-div{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .my-class{
    width: 100%;
    height: 60px;
}

::ng-deep .mat-form-field {
  font-size: 13px; 
  font-weight: bold;
}

::ng-deep .mat-form-field-appearance-outline.date-input-focus .mat-form-field-outline  {
  background-color: #faffb3!important;
  border-radius: 5px; 


}

::ng-deep .mat-form-field-appearance-outline.shift-input-focus .mat-form-field-outline  {
  background-color: #faffb3!important;
  border-radius: 5px; 
  width: 80px;


}




::ng-deep .mat-form-field-appearance-outline.barcode-input-focus .mat-form-field-outline  {
    background-color: #faffb3!important;
    border-radius: 5px; 


}

::ng-deep .mat-form-field-appearance-outline.barcode-input-blur .mat-form-field-outline  {
  background-color:  #ff8484 !important;
  border-radius: 5px; 


}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  background-color: #faffb3!important;
  border-radius: 5px; 


}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  background-color:  #ff8484 !important;
  border-radius: 5px; 


}









::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
  background-color:  #c1ffff !important;
  border-radius: 5px; 


}
.example-form-field {
  margin: 0 0px 0px 0;
}


.d-md-flex {
  display: flex !important;
  padding: 20px;
}

.table-content {
  box-shadow: 5px 0 10px rgb(179, 177, 177);
  padding: 1.5rem;
  margin-top: 2rem;
}

.div-title-table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-table {
  font-size: 5px;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.filter {
  padding: 1rem;
}


/* Font Header */

.mat-header-cell {
  font-size: 15px;
}

.mat-header-cell,
.mat-cell,
.mat-footer-cell {
  padding: 0.75rem;
}


table > thead > tr >th{
font-weight: bold;
font-size: 18px;
color: black;
position:sticky;
top: 0 ;
}
table > tbody > tr >td{
font-weight: bold;
font-size: 18px;
}


