<!-- <app-footer></app-footer> -->
<!-- <h1>
  {{title}}
</h1> -->
<app-header></app-header>
<ng-container *ngIf="this.router.url.includes('login') || this.router.url == '/' || this.router.url.includes('?LinkDire') ; then Login; else NotLogin">
</ng-container>
<ng-template #Login>
  <!-- Login page-->
  <app-login></app-login>
</ng-template>




<ng-template #NotLogin>
  <!-- <app-header class="d-none d-sm-none d-md-block" ></app-header> -->
  <app-home></app-home>

<ng-template >





<!-- <app-header></app-header> -->